<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589185685105-u35b69eq9vk12kur8bed5a0idbcm2l5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589185685105-u35b69eq9vk12kur8bed5a0idbcm2l5v</string>
	<key>API_KEY</key>
	<string>AIzaSyA3uT8tpLop64vGj5u9YQnm1wftk-SbQKk</string>
	<key>GCM_SENDER_ID</key>
	<string>589185685105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fi.nautics.HybridSailmate</string>
	<key>PROJECT_ID</key>
	<string>hybrid-sailmate</string>
	<key>STORAGE_BUCKET</key>
	<string>hybrid-sailmate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589185685105:ios:04594576638283da616dd0</string>
	<key>DATABASE_URL</key>
	<string>https://hybrid-sailmate.firebaseio.com</string>
</dict>
</plist>